ul,
h1 {
  margin: 0;
}

img {
  width: 100%;
  border-radius: 0.4rem;
}

.edit-button {
  border: none;
  border-radius: 1.25rem;
  padding: 0.75rem;
}

.edit-button:hover {
  background-color: rgb(210, 210, 210);
}

.input {
  border-radius: 0.25rem;
  border-color: rgb(216, 216, 216);
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

textarea.input {
  height: 6rem;
}

a {
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.header {
  background-color: rgb(76, 36, 116);
  color: white;
  line-height: 4rem;
  width: 100%;
}

.bg-light-gray {
  background-color: rgb(238, 238, 238);
}

.save-button {
  background-color: rgb(76, 36, 116);
  color: white;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
}

.notes {
  margin-top: 1rem;
  font-size: small;
}

ul {
  list-style-type: none;
  padding: 0;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center;
}

.delete {
  color: red;
  text-decoration: underline;
  border: none;
}

.save-and-delete {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
